.hero {
  margin: 0 auto;
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: center;
  padding: 64px 16px 32px;
}

.hero_wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  padding: 42px 0;
}

.hero_title {
  font-family: 'inter';
  font-size: 60px;
  color: #fff;
}

.hero_span {
  font-size: 30px;
  font-weight: 300;
  padding-left: 16px;
  font-style: italic;
}

.hero_p {
  font-size: 16px;
  padding: 16px 0 16px 0;
  max-width: 37ch;
  color: #fff;
  font-weight: 300;
}


@media(max-width:600px){
  .hero_wrapper{
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .hero_wrapper div img{
    width: 80%;
    padding-top: 16px;
    margin: 0 auto;
  }
  .hero_title{
    text-align: center;
  }
  .hero_p{
    text-align: center;
    margin: 0 auto;
  }
  .flex_btn{
    display: flex;
    justify-content: center ;
  }
}